In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.patches as patches
from plotly import tools, subplots
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.express as px
pd.set_option('max_columns', 100)
py.init_notebook_mode(connected=True)
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

import os,random, math, psutil, pickle

import pandas_profiling as pdp

from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from sklearn.model_selection import KFold, StratifiedKFold
from tqdm import tqdm

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

import category_encoders as ce

In [2]:
train = pd.read_csv('./input/bank_marketing_train.csv')

In [3]:
train.shape

(33744, 20)

In [4]:
train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [5]:
train.head()

,age,job,marital,education,default,housing,loan,contact,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,56,services,married,high.school,no,no,yes,telephone,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,45,services,married,basic.9y,unknown,no,no,telephone,mon,198,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,59,admin.,married,professional.course,no,no,no,telephone,mon,139,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
train.job.value_counts()

admin.           8536
blue-collar      7591
technician       5529
services         3255
management       2359
retired          1432
entrepreneur     1203
self-employed    1130
housemaid         882
unemployed        822
student           735
unknown           270
Name: job, dtype: int64

In [7]:
train["nr.employed"].value_counts()

5228.1    13276
5099.1     6987
5191.0     6389
5195.8     3014
5076.2     1362
5017.5      880
4991.6      633
5008.7      528
4963.6      524
5023.5      143
5176.3        8
Name: nr.employed, dtype: int64

In [8]:
# pdp.ProfileReport(train)

In [9]:
train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

# 前処理

In [10]:
# durationをdropする
numeric = [ 'cons.price.idx', 'cons.conf.idx', 'age','campaign','pdays', 'previous'  ]
categoricals = ['job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'day_of_week',  
       'poutcome', 'emp.var.rate', 
       'euribor3m', 'nr.employed']

feat_cols = numeric + categoricals

In [11]:
def preprocessing ( df ) :
    df.drop(['duration'], axis=1, inplace=True)
    df["y"].replace("no",0, inplace=True)
    df["y"].replace("yes",1, inplace=True)
    ce_oe = ce.OrdinalEncoder(cols=categoricals,handle_unknown='impute')
    df = ce_oe.fit_transform(df)

    #oe = preprocessing.OrdinalEncoder()
#     encoded = oe.fit_transform(df[categoricals].values)
#     le = LabelEncoder()
#     df[[categoricals]] = le.fit_transform(df[[categoricals]])
    return df

In [12]:
train = preprocessing(train)

In [13]:
train

,age,job,marital,education,default,housing,loan,contact,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,1,1,1,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
1,57,2,1,2,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
2,56,2,1,2,1,1,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
3,45,2,1,3,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
4,59,3,1,4,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
5,41,4,1,5,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
6,24,5,2,4,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
7,25,2,2,2,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
8,29,4,2,2,1,1,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
9,57,1,3,1,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
10,35,4,1,6,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
11,54,6,1,3,2,2,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
12,35,4,1,6,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
13,46,4,1,6,2,2,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
14,50,4,1,3,1,2,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
15,39,7,2,3,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
16,30,8,1,2,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
17,55,4,1,1,2,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
18,55,6,2,2,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
19,41,5,2,2,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
20,35,5,1,7,1,1,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
21,59,5,1,5,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
22,39,9,1,3,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
23,54,5,2,7,2,1,1,1,1,2,999,0,1,1,93.994,-36.4,1,1,0
24,55,10,1,7,2,3,3,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
25,46,3,1,5,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
26,49,4,1,5,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
27,54,7,1,1,2,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
28,54,4,3,1,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
29,55,10,1,1,2,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33714,26,7,2,7,1,2,1,2,1,5,999,0,1,10,94.767,-50.8,309,11,0
33715,67,1,3,4,1,2,1,2,1,2,5,5,3,10,94.767,-50.8,309,11,1
33716,41,5,1,4,1,2,1,2,1,2,999,0,1,10,94.767,-50.8,309,11,0
33717,31,1,2,7,1,1,1,1,1,5,999,0,1,10,94.767,-50.8,309,11,0
33718,41,5,1,4,1,2,1,2,1,2,999,0,1,10,94.767,-50.8,309,11,1
33719,31,1,2,7,1,1,1,2,1,4,999,0,1,10,94.767,-50.8,309,11,0
33720,35,5,3,1,1,1,1,2,2,1,999,0,1,10,94.767,-50.8,310,11,1
33721,35,5,3,1,1,2,1,2,2,1,9,4,3,10,94.767,-50.8,310,11,1
33722,33,3,1,7,1,2,1,2,2,1,999,1,2,10,94.767,-50.8,310,11,0
33723,60,4,1,1,1,2,1,2,2,2,4,1,3,10,94.767,-50.8,310,11,0
33724,35,5,3,1,1,2,1,2,2,3,4,2,3,10,94.767,-50.8,310,11,1
33725,38,1,3,7,1,1,1,2,3,2,999,0,1,10,94.767,-50.8,311,11,1
33726,32,3,1,7,1,1,1,1,3,1,999,1,2,10,94.767,-50.8,311,11,1
33727,32,3,1,7,1,2,1,2,3,3,999,0,1,10,94.767,-50.8,311,11,0
33728,38,11,1,7,1,1,1,2,3,2,999,0,1,10,94.767,-50.8,311,11,0
33729,62,2,1,2,1,2,1,2,3,5,999,0,1,10,94.767,-50.8,311,11,0
33730,33,12,1,4,1,2,1,1,4,1,999,0,1,10,94.767,-50.8,312,11,1
33731,31,3,2,7,1,2,1,2,4,1,999,0,1,10,94.767,-50.8,312,11,1
33732,62,6,1,7,1,2,1,2,4,1,999,2,2,10,94.767,-50.8,312,11,1
33733,34,12,2,5,1,2,1,2,4,1,999,2,2,10,94.767,-50.8,312,11,0
33734,38,1,3,2,1,2,2,2,4,1,999,0,1,10,94.767,-50.8,312,11,0
33735,57,6,1,4,1,2,1,2,4,6,999,0,1,10,94.767,-50.8,312,11,0
33736,62,6,1,7,1,1,1,2,4,2,6,3,3,10,94.767,-50.8,312,11,1
33737,64,6,3,4,1,2,1,2,5,3,999,0,1,10,94.767,-50.8,313,11,0
33738,36,3,1,7,1,1,1,2,5,2,999,0,1,10,94.767,-50.8,313,11,0
33739,37,3,1,7,1,2,1,2,5,1,999,0,1,10,94.767,-50.8,313,11,1
33740,29,8,2,1,1,2,1,2,5,1,9,1,3,10,94.767,-50.8,313,11,0
33741,73,6,1,4,1,2,1,2,5,1,999,0,1,10,94.767,-50.8,313,11,1
33742,44,5,1,4,1,1,1,2,5,1,999,0,1,10,94.767,-50.8,313,11,1
33743,74,6,1,4,1,2,1,2,5,3,999,1,2,10,94.767,-50.8,313,11,0

# モデル作成

In [14]:
train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'day_of_week', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y'],
      dtype='object')

In [15]:
params = {
            'boosting_type': 'gbdt',
            'objective': 'binary',
            'metric': {'rmse'},
            'subsample': 0.9,
            'subsample_freq': 1,
            'learning_rate': 0.01,
            'num_leaves': 83,
            'feature_fraction': 1,
            'lambda_l1': 1,  
            'lambda_l2': 1,
            'min_data_in_leaf': 8,
            #'label_gain':[1,10]
            'scale_pos_weight':9
            #'device':'gpu'
            }

# folds = 5
# seed = 666
# kf = StratifiedKFold(n_splits=folds, shuffle=False, random_state=seed)

folds = 5
seed = 666

kf = KFold(n_splits=folds, shuffle=True, random_state=seed)
#kf = StratifiedKFold(n_splits=folds, shuffle=True, random_state=seed)

In [16]:
#(train_index, val_index) = kf.split(train, train["y"])
# hoge = kf.split(train, train["y"])

i =0
for train_index, val_index in kf.split(train, train['y']):
    train_X = train[feat_cols].iloc[train_index] 
    train_y = train["y"].iloc[train_index] 
    val_X = train[feat_cols].iloc[val_index]
    val_y = train["y"].iloc[val_index]
    i = i+1
    print(1)
    break

1

In [17]:
train_X

#train_X_new = pd.DataFrame(train_X, index=train_X_origin.index , columns=train_X_origin.columns)

,cons.price.idx,cons.conf.idx,age,campaign,pdays,previous,job,marital,education,default,housing,loan,contact,day_of_week,poutcome,emp.var.rate,euribor3m,nr.employed
0,93.994,-36.4,56,1,999,0,1,1,1,1,1,1,1,1,1,1,1,1
1,93.994,-36.4,57,1,999,0,2,1,2,2,1,1,1,1,1,1,1,1
2,93.994,-36.4,56,1,999,0,2,1,2,1,1,2,1,1,1,1,1,1
3,93.994,-36.4,45,1,999,0,2,1,3,2,1,1,1,1,1,1,1,1
5,93.994,-36.4,41,1,999,0,4,1,5,2,1,1,1,1,1,1,1,1
6,93.994,-36.4,24,1,999,0,5,2,4,1,2,1,1,1,1,1,1,1
7,93.994,-36.4,25,1,999,0,2,2,2,1,2,1,1,1,1,1,1,1
8,93.994,-36.4,29,1,999,0,4,2,2,1,1,2,1,1,1,1,1,1
9,93.994,-36.4,57,1,999,0,1,3,1,1,2,1,1,1,1,1,1,1
10,93.994,-36.4,35,1,999,0,4,1,6,1,2,1,1,1,1,1,1,1
11,93.994,-36.4,54,1,999,0,6,1,3,2,2,2,1,1,1,1,1,1
12,93.994,-36.4,35,1,999,0,4,1,6,1,2,1,1,1,1,1,1,1
13,93.994,-36.4,46,1,999,0,4,1,6,2,2,2,1,1,1,1,1,1
15,93.994,-36.4,39,1,999,0,7,2,3,2,1,1,1,1,1,1,1,1
17,93.994,-36.4,55,1,999,0,4,1,1,2,2,1,1,1,1,1,1,1
18,93.994,-36.4,55,1,999,0,6,2,2,1,2,1,1,1,1,1,1,1
20,93.994,-36.4,35,1,999,0,5,1,7,1,1,2,1,1,1,1,1,1
21,93.994,-36.4,59,1,999,0,5,1,5,1,2,1,1,1,1,1,1,1
22,93.994,-36.4,39,1,999,0,9,1,3,2,1,1,1,1,1,1,1,1
23,93.994,-36.4,54,2,999,0,5,2,7,2,1,1,1,1,1,1,1,1
25,93.994,-36.4,46,1,999,0,3,1,5,1,1,1,1,1,1,1,1,1
28,93.994,-36.4,54,1,999,0,4,3,1,1,1,1,1,1,1,1,1,1
31,93.994,-36.4,52,1,999,0,5,1,3,1,2,1,1,1,1,1,1,1
32,93.994,-36.4,41,1,999,0,3,1,7,1,2,1,1,1,1,1,1,1
33,93.994,-36.4,56,1,999,0,5,1,1,1,2,1,1,1,1,1,1,1
34,93.994,-36.4,58,1,999,0,7,4,7,1,2,1,1,1,1,1,1,1
35,93.994,-36.4,32,1,999,0,11,1,2,1,2,1,1,1,1,1,1,1
36,93.994,-36.4,57,1,999,0,3,1,7,1,1,2,1,1,1,1,1,1
37,93.994,-36.4,44,1,999,0,3,1,7,2,2,1,1,1,1,1,1,1
38,93.994,-36.4,57,1,999,0,3,1,7,1,2,2,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33705,94.767,-50.8,43,4,999,2,3,3,7,1,2,1,2,5,2,10,308,11
33706,94.767,-50.8,29,1,6,2,5,2,4,1,1,2,2,5,3,10,308,11
33707,94.767,-50.8,35,3,999,4,3,2,4,1,2,1,2,5,2,10,308,11
33708,94.767,-50.8,26,3,999,0,3,2,7,1,1,1,2,5,1,10,308,11
33710,94.767,-50.8,35,3,999,0,3,2,4,1,2,1,2,5,1,10,308,11
33711,94.767,-50.8,30,2,999,0,3,2,7,1,2,1,2,1,1,10,309,11
33712,94.767,-50.8,41,2,999,1,4,1,3,1,2,1,2,1,2,10,309,11
33713,94.767,-50.8,41,2,6,1,5,1,4,1,1,1,2,1,3,10,309,11
33714,94.767,-50.8,26,5,999,0,7,2,7,1,2,1,2,1,1,10,309,11
33715,94.767,-50.8,67,2,5,5,1,3,4,1,2,1,2,1,3,10,309,11
33716,94.767,-50.8,41,2,999,0,5,1,4,1,2,1,2,1,1,10,309,11
33721,94.767,-50.8,35,1,9,4,5,3,1,1,2,1,2,2,3,10,310,11
33722,94.767,-50.8,33,1,999,1,3,1,7,1,2,1,2,2,2,10,310,11
33723,94.767,-50.8,60,2,4,1,4,1,1,1,2,1,2,2,3,10,310,11
33724,94.767,-50.8,35,3,4,2,5,3,1,1,2,1,2,2,3,10,310,11
33725,94.767,-50.8,38,2,999,0,1,3,7,1,1,1,2,3,1,10,311,11
33729,94.767,-50.8,62,5,999,0,2,1,2,1,2,1,2,3,1,10,311,11
33730,94.767,-50.8,33,1,999,0,12,1,4,1,2,1,1,4,1,10,312,11
33731,94.767,-50.8,31,1,999,0,3,2,7,1,2,1,2,4,1,10,312,11
33732,94.767,-50.8,62,1,999,2,6,1,7,1,2,1,2,4,2,10,312,11
33733,94.767,-50.8,34,1,999,2,12,2,5,1,2,1,2,4,2,10,312,11
33734,94.767,-50.8,38,1,999,0,1,3,2,1,2,2,2,4,1,10,312,11
33735,94.767,-50.8,57,6,999,0,6,1,4,1,2,1,2,4,1,10,312,11
33736,94.767,-50.8,62,2,6,3,6,1,7,1,1,1,2,4,3,10,312,11
33737,94.767,-50.8,64,3,999,0,6,3,4,1,2,1,2,5,1,10,313,11
33738,94.767,-50.8,36,2,999,0,3,1,7,1,1,1,2,5,1,10,313,11
33739,94.767,-50.8,37,1,999,0,3,1,7,1,2,1,2,5,1,10,313,11
33740,94.767,-50.8,29,1,9,1,8,2,1,1,2,1,2,5,3,10,313,11
33742,94.767,-50.8,44,1,999,0,5,1,4,1,1,1,2,5,1,10,313,11
33743,94.767,-50.8,74,3,999,1,6,1,4,1,2,1,2,5,2,10,313,11

In [18]:
from imblearn.over_sampling import SMOTE

train_X_origin = train_X.copy()
train_y_origin = train_y.copy()

sm = SMOTE(random_state=42)
train_X, train_y = sm.fit_sample(train_X, train_y)

p = list(zip(train_X, train_y))
random.shuffle(p)
train_X, train_y = zip(*p)

In [19]:
train_X = pd.DataFrame(train_X, columns=train_X_origin.columns)
train_y = np.array(train_y)

In [20]:
lgb_train = lgb.Dataset(train_X, train_y, categorical_feature=categoricals)
lgb_eval = lgb.Dataset(val_X, val_y, categorical_feature=categoricals)

In [21]:
train_y.sum()
train_y.shape

pd.DataFrame(train_y).tail(10)

       0
47822  0
47823  1
47824  1
47825  0
47826  0
47827  0
47828  1
47829  1
47830  1
47831  0

In [22]:
exp_val = 0

In [23]:
def exp_val_func (y_pred , data):
    valid_y = data.get_label().tolist()
    tmp_exp_val = 0
#     print(valid_y)
    for i in range (len(valid_y)) :
        if y_pred[i]:
            tmp_exp_val = tmp_exp_val - 500
            if valid_y[i]:
                tmp_exp_val = tmp_exp_val + 3000

       # exp_val += tmp_exp_val
#         if i % 1000 == 999 :
#             print(tmp_exp_val)
    return 'exp_val', tmp_exp_val, True

In [ ]:
gbm = lgb.train(params,
                lgb_train,
                num_boost_round=50000,
                valid_sets=(lgb_train, lgb_eval),
                early_stopping_rounds=2000,
                verbose_eval = 500)
#               feval = exp_val_func)

Training until validation scores don't improve for 2000 rounds.
[500]	training's rmse: 0.365317	valid_1's rmse: 0.501153
[1000]	training's rmse: 0.298046	valid_1's rmse: 0.437832
[1500]	training's rmse: 0.261714	valid_1's rmse: 0.409985
[2000]	training's rmse: 0.235206	valid_1's rmse: 0.39233
[2500]	training's rmse: 0.213577	valid_1's rmse: 0.379153
[3000]	training's rmse: 0.19528	valid_1's rmse: 0.369117
[3500]	training's rmse: 0.179501	valid_1's rmse: 0.361061
[4000]	training's rmse: 0.166035	valid_1's rmse: 0.354997
[4500]	training's rmse: 0.15427	valid_1's rmse: 0.349933
[5000]	training's rmse: 0.143822	valid_1's rmse: 0.345921
[5500]	training's rmse: 0.134641	valid_1's rmse: 0.342705
[6000]	training's rmse: 0.126404	valid_1's rmse: 0.340158
[6500]	training's rmse: 0.119129	valid_1's rmse: 0.338015
[7000]	training's rmse: 0.112712	valid_1's rmse: 0.336278
[7500]	training's rmse: 0.106908	valid_1's rmse: 0.334793

In [ ]:
fi = pd.DataFrame(  {0: train_X.columns ,  1: gbm.feature_importance()})
fi

In [ ]:
from sklearn.metrics import confusion_matrix
# y_true = [0, 0, 0, 0, 1, 1, 1, 0, 1, 0]   # 実際の値 (0:スパムでない, 1:スパム)
# y_pred = [0, 0, 0, 0, 1, 1, 1, 1, 0, 1]   # 識別結果 (0:スパムでない, 1:スパム)
y_pred = gbm.predict(val_X)

In [ ]:
y_pred.tolist()

In [ ]:
val_y.tolist()

In [ ]:
val_y_c = val_y.tolist()
y_pred_c =  y_pred.tolist()

In [ ]:
# labels = ["not cvr", "cvr"]
#confusion_matrix( val_y_c, y_pred.round(), labels=labels, index=labels)

from pycm import ConfusionMatrix
cm = ConfusionMatrix(actual_vector=val_y_c, predict_vector=y_pred.round(0).astype("u1") )  
cm.print_matrix()