In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.patches as patches
from plotly import tools, subplots
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.express as px
pd.set_option('max_columns', 100)
py.init_notebook_mode(connected=True)
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

import os,random, math, psutil, pickle

import pandas_profiling as pdp

from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from sklearn.model_selection import KFold, StratifiedKFold
from tqdm import tqdm

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

import category_encoders as ce

In [2]:
train = pd.read_csv('./input/bank_marketing_train.csv')

In [3]:
train.shape

(33744, 20)

In [4]:
train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [5]:
train.head()

,age,job,marital,education,default,housing,loan,contact,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,56,services,married,high.school,no,no,yes,telephone,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,45,services,married,basic.9y,unknown,no,no,telephone,mon,198,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,59,admin.,married,professional.course,no,no,no,telephone,mon,139,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
train.job.value_counts()

admin.           8536
blue-collar      7591
technician       5529
services         3255
management       2359
retired          1432
entrepreneur     1203
self-employed    1130
housemaid         882
unemployed        822
student           735
unknown           270
Name: job, dtype: int64

In [7]:
train["nr.employed"].value_counts()

5228.1    13276
5099.1     6987
5191.0     6389
5195.8     3014
5076.2     1362
5017.5      880
4991.6      633
5008.7      528
4963.6      524
5023.5      143
5176.3        8
Name: nr.employed, dtype: int64

In [8]:
# pdp.ProfileReport(train)

In [9]:
train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

# 前処理

In [10]:
# durationをdropする
numeric = [ 'cons.price.idx', 'cons.conf.idx', 'age','campaign','pdays', 'previous'  ]
categoricals = ['job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'day_of_week',  
       'poutcome', 'emp.var.rate', 
       'euribor3m', 'nr.employed']

feat_cols = numeric + categoricals

In [11]:
def preprocessing ( df ) :
    df.drop(['duration'], axis=1, inplace=True)
    df["y"].replace("no",0, inplace=True)
    df["y"].replace("yes",1, inplace=True)
    ce_oe = ce.OrdinalEncoder(cols=categoricals,handle_unknown='impute')
    df = ce_oe.fit_transform(df)

    #oe = preprocessing.OrdinalEncoder()
#     encoded = oe.fit_transform(df[categoricals].values)
#     le = LabelEncoder()
#     df[[categoricals]] = le.fit_transform(df[[categoricals]])
    return df

In [12]:
train = preprocessing(train)

In [13]:
train

,age,job,marital,education,default,housing,loan,contact,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,1,1,1,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
1,57,2,1,2,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
2,56,2,1,2,1,1,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
3,45,2,1,3,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
4,59,3,1,4,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
5,41,4,1,5,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
6,24,5,2,4,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
7,25,2,2,2,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
8,29,4,2,2,1,1,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
9,57,1,3,1,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
10,35,4,1,6,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
11,54,6,1,3,2,2,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
12,35,4,1,6,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
13,46,4,1,6,2,2,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
14,50,4,1,3,1,2,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
15,39,7,2,3,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
16,30,8,1,2,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
17,55,4,1,1,2,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
18,55,6,2,2,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
19,41,5,2,2,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
20,35,5,1,7,1,1,2,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
21,59,5,1,5,1,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
22,39,9,1,3,2,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
23,54,5,2,7,2,1,1,1,1,2,999,0,1,1,93.994,-36.4,1,1,0
24,55,10,1,7,2,3,3,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
25,46,3,1,5,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
26,49,4,1,5,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
27,54,7,1,1,2,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
28,54,4,3,1,1,1,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
29,55,10,1,1,2,2,1,1,1,1,999,0,1,1,93.994,-36.4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33714,26,7,2,7,1,2,1,2,1,5,999,0,1,10,94.767,-50.8,309,11,0
33715,67,1,3,4,1,2,1,2,1,2,5,5,3,10,94.767,-50.8,309,11,1
33716,41,5,1,4,1,2,1,2,1,2,999,0,1,10,94.767,-50.8,309,11,0
33717,31,1,2,7,1,1,1,1,1,5,999,0,1,10,94.767,-50.8,309,11,0
33718,41,5,1,4,1,2,1,2,1,2,999,0,1,10,94.767,-50.8,309,11,1
33719,31,1,2,7,1,1,1,2,1,4,999,0,1,10,94.767,-50.8,309,11,0
33720,35,5,3,1,1,1,1,2,2,1,999,0,1,10,94.767,-50.8,310,11,1
33721,35,5,3,1,1,2,1,2,2,1,9,4,3,10,94.767,-50.8,310,11,1
33722,33,3,1,7,1,2,1,2,2,1,999,1,2,10,94.767,-50.8,310,11,0
33723,60,4,1,1,1,2,1,2,2,2,4,1,3,10,94.767,-50.8,310,11,0
33724,35,5,3,1,1,2,1,2,2,3,4,2,3,10,94.767,-50.8,310,11,1
33725,38,1,3,7,1,1,1,2,3,2,999,0,1,10,94.767,-50.8,311,11,1
33726,32,3,1,7,1,1,1,1,3,1,999,1,2,10,94.767,-50.8,311,11,1
33727,32,3,1,7,1,2,1,2,3,3,999,0,1,10,94.767,-50.8,311,11,0
33728,38,11,1,7,1,1,1,2,3,2,999,0,1,10,94.767,-50.8,311,11,0
33729,62,2,1,2,1,2,1,2,3,5,999,0,1,10,94.767,-50.8,311,11,0
33730,33,12,1,4,1,2,1,1,4,1,999,0,1,10,94.767,-50.8,312,11,1
33731,31,3,2,7,1,2,1,2,4,1,999,0,1,10,94.767,-50.8,312,11,1
33732,62,6,1,7,1,2,1,2,4,1,999,2,2,10,94.767,-50.8,312,11,1
33733,34,12,2,5,1,2,1,2,4,1,999,2,2,10,94.767,-50.8,312,11,0
33734,38,1,3,2,1,2,2,2,4,1,999,0,1,10,94.767,-50.8,312,11,0
33735,57,6,1,4,1,2,1,2,4,6,999,0,1,10,94.767,-50.8,312,11,0
33736,62,6,1,7,1,1,1,2,4,2,6,3,3,10,94.767,-50.8,312,11,1
33737,64,6,3,4,1,2,1,2,5,3,999,0,1,10,94.767,-50.8,313,11,0
33738,36,3,1,7,1,1,1,2,5,2,999,0,1,10,94.767,-50.8,313,11,0
33739,37,3,1,7,1,2,1,2,5,1,999,0,1,10,94.767,-50.8,313,11,1
33740,29,8,2,1,1,2,1,2,5,1,9,1,3,10,94.767,-50.8,313,11,0
33741,73,6,1,4,1,2,1,2,5,1,999,0,1,10,94.767,-50.8,313,11,1
33742,44,5,1,4,1,1,1,2,5,1,999,0,1,10,94.767,-50.8,313,11,1
33743,74,6,1,4,1,2,1,2,5,3,999,1,2,10,94.767,-50.8,313,11,0

# モデル作成

In [14]:
train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'day_of_week', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y'],
      dtype='object')

In [15]:
params = {
            'boosting_type': 'gbdt',
            'objective': 'binary',
            'metric': {'rmse'},
            'subsample': 0.7,
            'subsample_freq': 1,
            'learning_rate': 0.03,
            'num_leaves': 30,
            'feature_fraction': 0.8,
            'lambda_l1': 1,  
            'lambda_l2': 1,
            'min_data_in_leaf': 30,
            #'label_gain':[1,10]
            'scale_pos_weight':9
            #'device':'gpu'
            }

# folds = 5
# seed = 666
# kf = StratifiedKFold(n_splits=folds, shuffle=False, random_state=seed)

folds = 5
seed = 666

kf = KFold(n_splits=folds, shuffle=True, random_state=seed)
#kf = StratifiedKFold(n_splits=folds, shuffle=True, random_state=seed)

In [16]:
#(train_index, val_index) = kf.split(train, train["y"])
# hoge = kf.split(train, train["y"])

i =0
for train_index, val_index in kf.split(train, train['y']):
    train_X = train[feat_cols].iloc[train_index] 
    train_y = train["y"].iloc[train_index] 
    val_X = train[feat_cols].iloc[val_index]
    val_y = train["y"].iloc[val_index]
    i = i+1
    print(1)
    break

1

In [17]:
train_X

#train_X_new = pd.DataFrame(train_X, index=train_X_origin.index , columns=train_X_origin.columns)

,cons.price.idx,cons.conf.idx,age,campaign,pdays,previous,job,marital,education,default,housing,loan,contact,day_of_week,poutcome,emp.var.rate,euribor3m,nr.employed
0,93.994,-36.4,56,1,999,0,1,1,1,1,1,1,1,1,1,1,1,1
1,93.994,-36.4,57,1,999,0,2,1,2,2,1,1,1,1,1,1,1,1
2,93.994,-36.4,56,1,999,0,2,1,2,1,1,2,1,1,1,1,1,1
3,93.994,-36.4,45,1,999,0,2,1,3,2,1,1,1,1,1,1,1,1
5,93.994,-36.4,41,1,999,0,4,1,5,2,1,1,1,1,1,1,1,1
6,93.994,-36.4,24,1,999,0,5,2,4,1,2,1,1,1,1,1,1,1
7,93.994,-36.4,25,1,999,0,2,2,2,1,2,1,1,1,1,1,1,1
8,93.994,-36.4,29,1,999,0,4,2,2,1,1,2,1,1,1,1,1,1
9,93.994,-36.4,57,1,999,0,1,3,1,1,2,1,1,1,1,1,1,1
10,93.994,-36.4,35,1,999,0,4,1,6,1,2,1,1,1,1,1,1,1
11,93.994,-36.4,54,1,999,0,6,1,3,2,2,2,1,1,1,1,1,1
12,93.994,-36.4,35,1,999,0,4,1,6,1,2,1,1,1,1,1,1,1
13,93.994,-36.4,46,1,999,0,4,1,6,2,2,2,1,1,1,1,1,1
15,93.994,-36.4,39,1,999,0,7,2,3,2,1,1,1,1,1,1,1,1
17,93.994,-36.4,55,1,999,0,4,1,1,2,2,1,1,1,1,1,1,1
18,93.994,-36.4,55,1,999,0,6,2,2,1,2,1,1,1,1,1,1,1
20,93.994,-36.4,35,1,999,0,5,1,7,1,1,2,1,1,1,1,1,1
21,93.994,-36.4,59,1,999,0,5,1,5,1,2,1,1,1,1,1,1,1
22,93.994,-36.4,39,1,999,0,9,1,3,2,1,1,1,1,1,1,1,1
23,93.994,-36.4,54,2,999,0,5,2,7,2,1,1,1,1,1,1,1,1
25,93.994,-36.4,46,1,999,0,3,1,5,1,1,1,1,1,1,1,1,1
28,93.994,-36.4,54,1,999,0,4,3,1,1,1,1,1,1,1,1,1,1
31,93.994,-36.4,52,1,999,0,5,1,3,1,2,1,1,1,1,1,1,1
32,93.994,-36.4,41,1,999,0,3,1,7,1,2,1,1,1,1,1,1,1
33,93.994,-36.4,56,1,999,0,5,1,1,1,2,1,1,1,1,1,1,1
34,93.994,-36.4,58,1,999,0,7,4,7,1,2,1,1,1,1,1,1,1
35,93.994,-36.4,32,1,999,0,11,1,2,1,2,1,1,1,1,1,1,1
36,93.994,-36.4,57,1,999,0,3,1,7,1,1,2,1,1,1,1,1,1
37,93.994,-36.4,44,1,999,0,3,1,7,2,2,1,1,1,1,1,1,1
38,93.994,-36.4,57,1,999,0,3,1,7,1,2,2,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33705,94.767,-50.8,43,4,999,2,3,3,7,1,2,1,2,5,2,10,308,11
33706,94.767,-50.8,29,1,6,2,5,2,4,1,1,2,2,5,3,10,308,11
33707,94.767,-50.8,35,3,999,4,3,2,4,1,2,1,2,5,2,10,308,11
33708,94.767,-50.8,26,3,999,0,3,2,7,1,1,1,2,5,1,10,308,11
33710,94.767,-50.8,35,3,999,0,3,2,4,1,2,1,2,5,1,10,308,11
33711,94.767,-50.8,30,2,999,0,3,2,7,1,2,1,2,1,1,10,309,11
33712,94.767,-50.8,41,2,999,1,4,1,3,1,2,1,2,1,2,10,309,11
33713,94.767,-50.8,41,2,6,1,5,1,4,1,1,1,2,1,3,10,309,11
33714,94.767,-50.8,26,5,999,0,7,2,7,1,2,1,2,1,1,10,309,11
33715,94.767,-50.8,67,2,5,5,1,3,4,1,2,1,2,1,3,10,309,11
33716,94.767,-50.8,41,2,999,0,5,1,4,1,2,1,2,1,1,10,309,11
33721,94.767,-50.8,35,1,9,4,5,3,1,1,2,1,2,2,3,10,310,11
33722,94.767,-50.8,33,1,999,1,3,1,7,1,2,1,2,2,2,10,310,11
33723,94.767,-50.8,60,2,4,1,4,1,1,1,2,1,2,2,3,10,310,11
33724,94.767,-50.8,35,3,4,2,5,3,1,1,2,1,2,2,3,10,310,11
33725,94.767,-50.8,38,2,999,0,1,3,7,1,1,1,2,3,1,10,311,11
33729,94.767,-50.8,62,5,999,0,2,1,2,1,2,1,2,3,1,10,311,11
33730,94.767,-50.8,33,1,999,0,12,1,4,1,2,1,1,4,1,10,312,11
33731,94.767,-50.8,31,1,999,0,3,2,7,1,2,1,2,4,1,10,312,11
33732,94.767,-50.8,62,1,999,2,6,1,7,1,2,1,2,4,2,10,312,11
33733,94.767,-50.8,34,1,999,2,12,2,5,1,2,1,2,4,2,10,312,11
33734,94.767,-50.8,38,1,999,0,1,3,2,1,2,2,2,4,1,10,312,11
33735,94.767,-50.8,57,6,999,0,6,1,4,1,2,1,2,4,1,10,312,11
33736,94.767,-50.8,62,2,6,3,6,1,7,1,1,1,2,4,3,10,312,11
33737,94.767,-50.8,64,3,999,0,6,3,4,1,2,1,2,5,1,10,313,11
33738,94.767,-50.8,36,2,999,0,3,1,7,1,1,1,2,5,1,10,313,11
33739,94.767,-50.8,37,1,999,0,3,1,7,1,2,1,2,5,1,10,313,11
33740,94.767,-50.8,29,1,9,1,8,2,1,1,2,1,2,5,3,10,313,11
33742,94.767,-50.8,44,1,999,0,5,1,4,1,1,1,2,5,1,10,313,11
33743,94.767,-50.8,74,3,999,1,6,1,4,1,2,1,2,5,2,10,313,11

In [18]:
from imblearn.over_sampling import SMOTE

train_X_origin = train_X.copy()
train_y_origin = train_y.copy()

sm = SMOTE(random_state=42)
train_X, train_y = sm.fit_sample(train_X, train_y)

p = list(zip(train_X, train_y))
random.shuffle(p)
train_X, train_y = zip(*p)

In [19]:
train_X = pd.DataFrame(train_X, columns=train_X_origin.columns)
train_y = np.array(train_y)

In [20]:
lgb_train = lgb.Dataset(train_X, train_y, categorical_feature=categoricals)
lgb_eval = lgb.Dataset(val_X, val_y, categorical_feature=categoricals)

In [21]:
train_y.sum()
train_y.shape

pd.DataFrame(train_y).tail(10)

       0
47822  0
47823  0
47824  0
47825  0
47826  0
47827  1
47828  1
47829  0
47830  0
47831  0

In [22]:
exp_val = 0

In [23]:
def exp_val_func (y_pred , data):
    valid_y = data.get_label().tolist()
    tmp_exp_val = 0
#     print(valid_y)
    for i in range (len(valid_y)) :
        if y_pred[i]:
            tmp_exp_val = tmp_exp_val - 500
            if valid_y[i]:
                tmp_exp_val = tmp_exp_val + 3000

       # exp_val += tmp_exp_val
#         if i % 1000 == 999 :
#             print(tmp_exp_val)
    return 'exp_val', tmp_exp_val, True

In [ ]:
gbm = lgb.train(params,
                lgb_train,
                num_boost_round=20000,
                valid_sets=(lgb_train, lgb_eval),
                early_stopping_rounds=2000,
                verbose_eval = 100)
#               feval = exp_val_func)

Training until validation scores don't improve for 2000 rounds.
[100]	training's rmse: 0.451789	valid_1's rmse: 0.595153
[200]	training's rmse: 0.410822	valid_1's rmse: 0.547417
[300]	training's rmse: 0.381375	valid_1's rmse: 0.514179
[400]	training's rmse: 0.361946	valid_1's rmse: 0.493554
[500]	training's rmse: 0.345698	valid_1's rmse: 0.477219
[600]	training's rmse: 0.333494	valid_1's rmse: 0.465532
[700]	training's rmse: 0.323305	valid_1's rmse: 0.45632
[800]	training's rmse: 0.314031	valid_1's rmse: 0.448616
[900]	training's rmse: 0.30504	valid_1's rmse: 0.440816
[1000]	training's rmse: 0.2975	valid_1's rmse: 0.435161
[1100]	training's rmse: 0.290387	valid_1's rmse: 0.429705
[1200]	training's rmse: 0.283342	valid_1's rmse: 0.424247
[1300]	training's rmse: 0.277755	valid_1's rmse: 0.42058
[1400]	training's rmse: 0.271829	valid_1's rmse: 0.416568
[1500]	training's rmse: 0.266243	valid_1's rmse: 0.412546
[1600]	training's rmse: 0.260655	valid_1's rmse: 0.408766
[1700]	training's rmse: 0.255628	valid_1's rmse: 0.405563
[1800]	training's rmse: 0.250846	valid_1's rmse: 0.40225
[1900]	training's rmse: 0.245838	valid_1's rmse: 0.398958
[2000]	training's rmse: 0.24147	valid_1's rmse: 0.396387
[2100]	training's rmse: 0.237188	valid_1's rmse: 0.393902
[2200]	training's rmse: 0.232704	valid_1's rmse: 0.39114
[2300]	training's rmse: 0.228835	valid_1's rmse: 0.388926
[2400]	training's rmse: 0.224813	valid_1's rmse: 0.38664
[2500]	training's rmse: 0.221241	valid_1's rmse: 0.384757
[2600]	training's rmse: 0.217495	valid_1's rmse: 0.382635
[2700]	training's rmse: 0.214286	valid_1's rmse: 0.381173
[2800]	training's rmse: 0.211064	valid_1's rmse: 0.379446
[2900]	training's rmse: 0.207841	valid_1's rmse: 0.377836
[3000]	training's rmse: 0.204507	valid_1's rmse: 0.376098
[3100]	training's rmse: 0.201519	valid_1's rmse: 0.374779
[3200]	training's rmse: 0.19841	valid_1's rmse: 0.373128
[3300]	training's rmse: 0.195974	valid_1's rmse: 0.372269
[3400]	training's rmse: 0.192941	valid_1's rmse: 0.370838
[3500]	training's rmse: 0.190413	valid_1's rmse: 0.369558
[3600]	training's rmse: 0.187671	valid_1's rmse: 0.36814
[3700]	training's rmse: 0.185107	valid_1's rmse: 0.366924
[3800]	training's rmse: 0.182581	valid_1's rmse: 0.365828
[3900]	training's rmse: 0.179965	valid_1's rmse: 0.364544
[4000]	training's rmse: 0.177653	valid_1's rmse: 0.363733
[4100]	training's rmse: 0.175494	valid_1's rmse: 0.363075
[4200]	training's rmse: 0.17317	valid_1's rmse: 0.361966
[4300]	training's rmse: 0.171005	valid_1's rmse: 0.361071
[4400]	training's rmse: 0.168691	valid_1's rmse: 0.360022
[4500]	training's rmse: 0.166994	valid_1's rmse: 0.359439
[4600]	training's rmse: 0.164774	valid_1's rmse: 0.358427
[4700]	training's rmse: 0.162773	valid_1's rmse: 0.357619
[4800]	training's rmse: 0.160638	valid_1's rmse: 0.356735
[4900]	training's rmse: 0.158991	valid_1's rmse: 0.356276
[5000]	training's rmse: 0.157087	valid_1's rmse: 0.355563
[5100]	training's rmse: 0.155344	valid_1's rmse: 0.355065
[5200]	training's rmse: 0.153647	valid_1's rmse: 0.354534
[5300]	training's rmse: 0.151828	valid_1's rmse: 0.353767
[5400]	training's rmse: 0.150344	valid_1's rmse: 0.353365
[5500]	training's rmse: 0.148496	valid_1's rmse: 0.352599
[5600]	training's rmse: 0.146831	valid_1's rmse: 0.35193
[5700]	training's rmse: 0.145353	valid_1's rmse: 0.351704
[5800]	training's rmse: 0.143988	valid_1's rmse: 0.351304
[5900]	training's rmse: 0.142422	valid_1's rmse: 0.350843
[6000]	training's rmse: 0.140878	valid_1's rmse: 0.350391
[6100]	training's rmse: 0.139471	valid_1's rmse: 0.350083
[6200]	training's rmse: 0.138027	valid_1's rmse: 0.349533
[6300]	training's rmse: 0.136682	valid_1's rmse: 0.349224
[6400]	training's rmse: 0.135196	valid_1's rmse: 0.348708
[6500]	training's rmse: 0.133964	valid_1's rmse: 0.348403
[6600]	training's rmse: 0.132715	valid_1's rmse: 0.347996
[6700]	training's rmse: 0.131464	valid_1's rmse: 0.347642
[6800]	training's rmse: 0.130105	valid_1's rmse: 0.347028
[6900]	training's rmse: 0.128842	valid_1's rmse: 0.346661
[7000]	training's rmse: 0.127742	valid_1's rmse: 0.346478
[7100]	training's rmse: 0.126671	valid_1's rmse: 0.34623
[7200]	training's rmse: 0.125422	valid_1's rmse: 0.34592
[7300]	training's rmse: 0.124143	valid_1's rmse: 0.345616
[7400]	training's rmse: 0.123081	valid_1's rmse: 0.345403
[7500]	training's rmse: 0.121912	valid_1's rmse: 0.345127
[7600]	training's rmse: 0.120918	valid_1's rmse: 0.344831
[7700]	training's rmse: 0.11968	valid_1's rmse: 0.344329
[7800]	training's rmse: 0.118855	valid_1's rmse: 0.344086
[7900]	training's rmse: 0.117791	valid_1's rmse: 0.343802
[8000]	training's rmse: 0.116799	valid_1's rmse: 0.343728
[8100]	training's rmse: 0.11577	valid_1's rmse: 0.343485
[8200]	training's rmse: 0.114839	valid_1's rmse: 0.343342
[8300]	training's rmse: 0.113921	valid_1's rmse: 0.343253
[8400]	training's rmse: 0.113076	valid_1's rmse: 0.342953
[8500]	training's rmse: 0.112295	valid_1's rmse: 0.342962
[8600]	training's rmse: 0.111226	valid_1's rmse: 0.3426
[8700]	training's rmse: 0.110308	valid_1's rmse: 0.342452
[8800]	training's rmse: 0.1093	valid_1's rmse: 0.342222
[8900]	training's rmse: 0.108631	valid_1's rmse: 0.342292
[9000]	training's rmse: 0.107777	valid_1's rmse: 0.342053
[9100]	training's rmse: 0.106894	valid_1's rmse: 0.341846
[9200]	training's rmse: 0.106192	valid_1's rmse: 0.341657
[9300]	training's rmse: 0.105378	valid_1's rmse: 0.341572
[9400]	training's rmse: 0.104659	valid_1's rmse: 0.341552
[9500]	training's rmse: 0.103901	valid_1's rmse: 0.341459
[9600]	training's rmse: 0.10306	valid_1's rmse: 0.34123
[9700]	training's rmse: 0.10227	valid_1's rmse: 0.341263
[9800]	training's rmse: 0.101543	valid_1's rmse: 0.341244
[9900]	training's rmse: 0.100906	valid_1's rmse: 0.341143
[10000]	training's rmse: 0.100246	valid_1's rmse: 0.341011
[10100]	training's rmse: 0.099406	valid_1's rmse: 0.340767
[10200]	training's rmse: 0.0987215	valid_1's rmse: 0.340698
[10300]	training's rmse: 0.0982161	valid_1's rmse: 0.340604
[10400]	training's rmse: 0.0975136	valid_1's rmse: 0.340475
[10500]	training's rmse: 0.096795	valid_1's rmse: 0.340305
[10600]	training's rmse: 0.096149	valid_1's rmse: 0.340221
[10700]	training's rmse: 0.0955363	valid_1's rmse: 0.340216
[10800]	training's rmse: 0.0949167	valid_1's rmse: 0.340406
[10900]	training's rmse: 0.0942753	valid_1's rmse: 0.340336

In [ ]:
fi = pd.DataFrame(  {0: train_X.columns ,  1: gbm.feature_importance()})
fi

In [ ]:
from sklearn.metrics import confusion_matrix
# y_true = [0, 0, 0, 0, 1, 1, 1, 0, 1, 0]   # 実際の値 (0:スパムでない, 1:スパム)
# y_pred = [0, 0, 0, 0, 1, 1, 1, 1, 0, 1]   # 識別結果 (0:スパムでない, 1:スパム)
y_pred = gbm.predict(val_X)

In [ ]:
y_pred.tolist()

In [ ]:
val_y.tolist()

In [ ]:
val_y_c = val_y.tolist()
y_pred_c =  y_pred.tolist()

In [ ]:
labels = ["not cvr", "cvr"]
#confusion_matrix( val_y_c, y_pred.round(), labels=labels, index=labels)

from pycm import ConfusionMatrix
cm = ConfusionMatrix(actual_vector=val_y_c, predict_vector=y_pred.round(0).astype("u1") )  
cm.print_matrix()
#confusion_matrix( val_y_c, y_pred.round(), labels=labels, index=labels)